<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>findme</title>
</head>
<body>
    <header>
        <a href="/" class="title"><h1>findme</h1></a>
        <div id="signBtn">
            <a href="/login"><button class="logBtn">Sign in</button></a>
            <a href="/registerHandler"><button class="logBtn">Sign up</button></a>
        </div>
    </header>
    <div id="content">
        <div id="textContent">
            <h1>Qu'est ce que findme ?</h1>
            <p>Le but de cette plateforme de mise en relation est de faciliter la collaboration entre les étudiants et les initiateurs de projets.

                La plateforme permet aux étudiants possédant des compétences de se connecter avec des personnes ayant des idées de projets intéressantes et originales, afin de créer des équipes multidisciplinaires et complémentaires.
                
                En mettant en relation ces deux groupes, la plateforme favorise le partage des compétences, des connaissances et des expériences, tout en offrant de nouvelles opportunités aux étudiants développeurs pour développer leur portfolio et enrichir leur parcours académique et professionnel. De plus, les initiateurs de projets peuvent bénéficier de l'expertise et de la créativité des étudiants pour concrétiser leurs idées et donner vie à leurs projets.
                
                En somme, cette plateforme vise à créer un environnement propice à la collaboration, à l'innovation et à la réussite des projets étudiants, en rapprochant les étudiants et les initiateurs de projets.</p>
        </div>
        <div id="svgContent">
            <img src="/staticimg/undraw_working.svg" alt="coworking">
        </div>
    </div>
</body>
</html>