<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>findme</title>
</head>
<body>
    <header>
        <a href="/" class="title"><h1>findme</h1></a>
        <div id="signBtn">
            <a href="/loginHandler"><button class="logBtn">Sign in</button></a>
            <a href="/registerHandler"><button class="logBtn">Sign up</button></a>
        </div>
    </header>
    <div id="content">
        <div id="textContent">
            <h1>Trouvez Votre Partenaire idéal</h1>
            <p>La plateforme pour Connecter Chercheurs de <br>Talents et Étudiants Passionnés.</p>
            <a class="subtitle" href="/about" style="color:white;">More info.</a>
        </div>
        <div id="svgContent">
            <img src="/staticimg/undraw_collaborators.svg" alt="collaborations" class="img-human">
        </div>
    </div>
    <div id="join-us">
        <a href="http://localhost/viewMissionHandler"><button id="findBtn">Find</button></a>
    </div>
</body>
</html>