<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>findme</title>
</head>
<body>
    <header>
        <h1 class="title">findme</h1>
    </header>
    <style>
        #content{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #cardprofile{
            background-color: white;
            border-radius: 20px;
            width: 1400px;
            height: 544px;
        }

    </style>
    <div id="content">
        <div id="cardprofile">

        </div>
    </div>
</body>
</html>