<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/missions.css">
    <title>findme</title>
</head>
<body>
    <header>
        <h1 class="title">findme</h1>
        <a href="http://localhost/createMission"><button type="submit">Create Missions !</button></a>
    </header>
    
    <div id="content">
        <div id="missionsContener">
            <div class="missionsCard">

            </div>
        </div>       
    </div>
    <script src="/staticjs/getMissions.js"></script>
</body>
</html>